/* GLOBALS & RESETS */
:root {
    --bodycopy: #121212;
    box-sizing: border-box;
    
    margin: 0px;
    color: var(--bodycopy);
}

body {
    margin: 0px;
    color: var(--bodycopy);
    overflow: hidden;
}

h1, h2, button {
    font-family: 'EB Garamond', 'serif', 'Open Sans';
}

#container {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('images/william-kowalski-books.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e1e1e1;
    position: absolute;
}

/* Creates overlay */
#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(255,255,255,0.5);
    z-index: 5;
}
/* Logo and site name */
#header {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    position:relative;
    box-sizing: border-box;
    z-index: 100;

}

#logo {
    position: absolute;
    width: 66px;
    height: 75px;
    left: 3rem;
    top: 1rem;
}

#tagline {
    text-align: center;
}

/* Using H1 for the subheadline for Google's sake */
h1#headline {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* H2 for 'The Great Ostrich Fiasco' headline */
h2#fiasco {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}

#content {
    max-width: 100vw;
    margin: 0px;
    position: relative;
}

#books, #toprow, #bottomrow {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#books {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
    height: auto;
    margin: 0 auto;
}

/* Make the book covers flippy */
.flip-book {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
    z-index: 200;
    border-radius: 8px;
}

.flip-book-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-book:hover .flip-book-inner {
    transform: rotateY(180deg);
  }

.flip-book-front, .flip-book-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-book-back {
background-color: #121212;
color: white;
transform: rotateY(180deg);
box-sizing: border-box;
padding: 8px;
border-radius: 8px;
}

.flip-book-back a {
    color: white;
}

#ostrich {
    position: absolute;
    right: 3rem;
    bottom: -400px;
    height: 400px;
    width: 217px;
    margin: 0px;
    z-index: 1000;
}

#buttonHolder {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    left: 2rem;
    height: auto;
}

button {
    z-index: 1000;
    font-size: 1.5rem;
}

.buttonMouseover {
    background-color: #121212;
    color: white;
    box-sizing: border-box;
    box-shadow: -5px 5px 3px #333;
}

#ostrichButton {
    position: relative;
    z-index: 1000;
}

/* Tablet */
@media screen and (min-width: 551px) and (max-width: 840px) {

    body {
        overflow: scroll;
    }

    h1#headline {
        font-size: 1.75rem;
    }

    h2#fiasco {
        font-size: 2.5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        
    }

    #buttonHolder {
        position: relative;
        width: 75vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 0;
    }

    #toprow, #bottomrow {
        display: flex;
        flex-direction: column;
    }

    .flip-book {
        margin: 1rem auto;
    }

    #logo {
        position: relative;
        margin: 2rem auto;
        left: 0;
    }

    button#ostrichButton {
        display: none;
    }

    button#sideOstrich {
        display: none !important;
    }
    
}
@media screen and (max-width: 840px) {
    #buttonHolder {
        position: relative;
        left: 0;
        margin: 2rem auto;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #ostrich {
        display: none;
    }

    button#sideOstrich {
        display: none !important;
    }

}

/* Cell phones */
@media screen and (max-width: 550px) {

    body {
        overflow: scroll;
    }

    h1#headline {
        font-size: 1.5rem;
    }

    h2#fiasco {
        font-size: 2rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        
    }
    #toprow, #bottomrow {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .flip-book {
        margin: 0 auto;
    }

    #logo {
        position: relative;
        margin: 2rem auto;
        left: 0;
    }

    /* #ostrich {
        display: none;
    } */

    button#ostrichButton {
        display: none;
    }

    button#sideOstrich {
        display: block !important;
    }
    
}